.epg-cntr{
    user-modify: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: #333;
}

.epg-cntr a {
    display: inline-block;
    width: auto;
    height: 18px;
    padding: 2px 5px;
    margin: 2px;
    border: #333 solid 1px;
    color: #333;
    cursor: pointer;
}

.epg-cntr a:hover {
    padding: 1px 4px;
    border-width: 2px;
}

.epg-cntr .pg-btn.cur {
    background: #333;
    color: #fff;
}

.epg-pg-input {
    width: 20px;
    height: 18px;
    padding: 2px 5px;
    margin: 2px;
    border: #333 solid 1px;
    background: transparent;
    color: #333;
}

.epg-tp {
    margin: 0 2px;
}
.epg-tp span {
    margin: 2px;
}

.epg-ipp {
    -webkit-appearance: none;
    width: 40px;
    height: 24px;
    padding: 0;
    margin: 2px;
    border: #333 solid 1px;
    background: transparent;
    color: #333;
}
.epg-ipp option {
    background: #fff;
}